.App {
  margin: 0;
  box-sizing: border-box;
}

#light {
  background-color: white;
}

#dark {
  background-color: black;
}

/* form related css */

.form-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form-title {
  margin: 0;
  padding: .5rem;
  text-align: center;
  font-size: 22px;
}

#dark .form-title {
  color: white;
}

.form-content {
  width: 35%;
  margin: 0 auto;
  background-color: rgb(235, 243, 243);
  border-radius: 6px;
  padding: 1rem;
}

#dark .form-content{
  background-color: rgb(55, 55, 55);
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.form-submit {
  width: 30%;
  padding: .5rem;
  background-color: black;
  color: white;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 550;
  border: none;
  border-radius: 3px;
  margin-top: .4rem;
  cursor: pointer;
}

#dark .form-submit {
  background-color: white;
  color: black;
}

.btn-block {
  display: flex;
  align-items: center;
}

.toggle-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* form related css over here */


/* input related css */
.form-inputs {
  width: 100%;
}

.form-label {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

#dark .form-label {
  color: white;
}

.form-input {
  width: 100%;
  height: 2.3rem;
  outline: none;
  border: 1.4px solid rgb(217, 214, 214);
  border-radius: 3px;
  margin-top: .3rem;
  font-size: 16px;
}

#dark .form-input {
  border: 1.4px solid rgb(129, 127, 127);
}

.form-error {
  font-size: 14px;
  color: red;
  font-weight: 400;
  margin: 0;
}

#dark .form-error {
  color: aquamarine;
}

/* input related css over here */



@media only screen and (max-width: 600px) {
  .form-content {
    width: 60%;
  }

  .form-submit {
    width: 50%;
  }
}